/* Input */
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	min-height: 47px;
    padding: 10px 0;
	justify-content: center;
	align-items: center;
	background-color: var(--clr-accent);
}

.text-container {
	flex: 0.9;
	display: flex;
	background-color: var(--clr-select);
	border-radius: 8px;
	padding: 3px;
	margin: 0 5px
}

.text {
	flex: 1;
	border: 0;
	background-color: transparent;
	color: var(--clr-neutral);
	padding: 3px 0 0 0;
	margin: 5px 10px 5px 10px;
    max-height: 135px;
    font-size: 1.3em;
}

.text::-webkit-input-placeholder {
	color: var(--clr-passive);
}

.text::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background: transparent;
}


.text::-webkit-scrollbar-thumb {
	background-color: var(--clr-passive);
	border: 0;
}

.send-container {
	flex: 0.1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.send {
	display: inline-block;
	position: relative;
	width: 24px;
	height: 24px;
	cursor: pointer;
	background: unset;
	border: 0;
	margin: 0;
	padding: 0;
}

.send::before {
	content: "";
	display: inline-block;
	border: 10px solid transparent;
	border-left: 26px solid var(--clr-passive);
}

.send::after {
	content: "";
	position: absolute;
	top: calc(50% - 4px);
	left: 0;
	display: inline-block;
	border: 2px solid transparent;
	border-left: 15px solid var(--clr-accent);
}